<a href="https://colab.research.google.com/github/hyunicecream/ML-DL/blob/main/LSTM%2BCNN%20%EC%82%BC%EC%84%B1%EC%A0%84%EC%9E%90%20%EC%A3%BC%EA%B0%80%20%EC%98%88%EC%B8%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from tensorflow.keras.layers import Dense, Input, LSTM, Average
from tensorflow.keras.layers import Input, Dense, Conv2D, MaxPooling2D, Flatten
from tensorflow.keras.models import Model
from tensorflow.keras.optimizers import Adam
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
# LSTM과 CNN을 결합한 모델을 이용해서 주가 수익률을 예측한다.
# 주체별 매매 동향 데이터로 향후 주가 수익률을 추정한다.
%cd '/content/drive/MyDrive/Private_room/data'
data = pd.read_csv('삼성전자.csv')
data.head()

/content/drive/MyDrive/Private_room/data

         날짜     종가   전일비       등락율  ...    외국인누적      금투누적     투신누적    연기금누적
0  2020.6.1  51200   500       NaN  ...   -39405    795040    93773   921107
1  2020.6.2  51400   200  0.003906  ...  -396658    876189   141913  1029344
2  2020.6.3  54500  3100  0.060311  ...  2875203   7340216  1439907  1071725
3  2020.6.4  54600   100  0.001835  ...  4554096  10234567  1719270  -500478
4  2020.6.5  55500   900  0.016484  ...  4369711  12526537  2763430 -1026257

[5 rows x 24 columns]

In [ ]:
last_price = list(data['종가'])[-1]
last_price

80000

In [ ]:
# 결측치 제거 why? NaN값을 삭제하기 위해서
df = data.dropna()
df = df.drop(['날짜', '종가', '전일비', '개인누적', '기관누적', '외국인누적', '금투누적', '투신누적', '연기금누적', '국가지자체'], axis=1)
df.head()

        등락율       거래량        개인       기관  ...      연기금    사모펀드    기타법인  기타외국인
1  0.003906  13764485   -560690   873157  ...   108237   60900   24180  20606
2  0.060311  48817627 -12644642  9757786  ...    42381  467312 -354941 -30064
3  0.001835  40088343  -3179569  1604890  ... -1572203  280897  -70151 -34063
4  0.016484  22402378  -2638431  2869587  ...  -525779  -37978  -25417 -21354
5 -0.010811  24555972   2852709 -1098871  ... -1144027   20734 -121115  17523

[5 rows x 14 columns]

In [ ]:
# feature값 표준화
rtn_mean = df['등락율'].mean() 
# 복원을 위해 저장해 둔다.
# 마지막에 주가 예측을 위해 사용하기 위해서
# 주가 = 마지막종가 X (1 + 수익율)
rtn_std = df['등락율'].std()
df = (df - df.mean()) / df.std()

          등락율       거래량        개인  ...      사모펀드      기타법인     기타외국인
1    0.114683 -0.775279 -0.391224  ...  0.568486 -0.013173  0.882745
2    3.382213  2.903239 -3.004852  ...  3.027572 -2.500987 -1.832060
3   -0.005312  1.987178 -0.957659  ...  1.899627 -0.632178 -2.046319
4    0.843281  0.131192 -0.840617  ... -0.029798 -0.338631 -1.365394
5   -0.737873  0.357192  0.347057  ...  0.325452 -0.966607  0.717563
..        ...       ...       ...  ...       ...       ...       ...
247  0.532854 -0.688346 -0.860713  ...  0.506448  0.581206 -0.785411
248 -0.748975 -0.802738  0.676183  ... -0.437471  0.037749  0.931340
249 -0.398032 -0.685061  0.797621  ...  0.102471  0.451506  0.692703
250 -0.543380 -0.536417  1.379629  ... -0.796104 -0.761306  0.789090
251 -0.039103 -1.035108 -0.037261  ...  0.029475  2.151664 -0.141723

[251 rows x 14 columns]

In [ ]:
# 2차원 배열의 feature 데이터로 LSTM 학습 데이터를 만든다.
def build_train_data(data, t_step, n_jump = 1):
    n_data = data.shape[0]   # number of data
    n_feat = data.shape[1]   # number of features

    m = np.arange(0, n_data - t_step, n_jump)   # m =  [0, 1, 2, 3, 4, 5]
    x = [data[i:(i+t_step), :] for i in m]      # feature data
    y = [data[i, :] for i in (m + t_step)]      # target data

    # shape을 조정한다. feature = 3D, target = 2D
    x_data = np.reshape(np.array(x), (len(m), t_step, n_feat))
    y_target = np.reshape(np.array(y), (len(m), n_feat))
    
    return x_data, y_target

In [ ]:
t_step = 20

# 학습 데이터를 생성한다.
x_train, y_train = build_train_data(np.array(df), t_step, n_jump=1)
x_train.shape, y_train.shape

((231, 20, 14), (231, 14))

In [ ]:
n_feat = x_train.shape[2]
n_output = y_train.shape[1]
n_hidden = 128

# LSTM 모델을 생성한다.
x_lstm_input = Input(batch_shape=(None, t_step, n_feat))
x_lstm = LSTM(n_hidden, return_sequences = True)(x_lstm_input)
x_lstm = LSTM(n_hidden, dropout=0.2)(x_lstm)

# CNN 모델을 생성한다. 4D
# CONV2D : input 2개, CONV1D : input 1개
x_cnn_input = Input(batch_shape = (None, t_step, n_feat, 1))
x_conv = Conv2D(filters=10, kernel_size=(20,5), strides=1, padding = 'same', activation='relu')(x_cnn_input)
x_pool = MaxPooling2D(pool_size=(10,5), strides=1, padding='same')(x_conv)
x_flat = Flatten()(x_pool)
x_cnn = Dense(n_hidden)(x_flat) #LSTM 출력크기와 맞춘다

# 두 네트워크를 합친다.
x_avg = Average()([x_lstm, x_cnn])
y_output = Dense(n_feat)(x_avg)

model = Model([x_lstm_input, x_cnn_input], y_output)
model.compile(loss='mse', optimizer=Adam(learning_rate=0.001))
model.summary()

Model: "model_1"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_6 (InputLayer)           [(None, 20, 14, 1)]  0           []

 conv2d_1 (Conv2D)              (None, 20, 14, 10)   1010        ['input_6[0][0]']

 input_5 (InputLayer)           [(None, 20, 14)]     0           []

 max_pooling2d_1 (MaxPooling2D)  (None, 20, 14, 10)  0           ['conv2d_1[0][0]']

 lstm_3 (LSTM)                  (None, 20, 128)      73216       ['input_5[0][0]']

 flatten_1 (Flatten)            (None, 2800)         0           ['max_pooling2d_1[0][0]']

 lstm_4 (LSTM)                  (None, 128)          131584      ['lstm_3[0][0]']

 dense_2 (Dense)                (None, 128)          358528      ['flatten_1[0][0]']

 average_1 (Average)            (None, 128)          0           ['lstm_4[0][0]',
                                                                  'dense_2[0][0]']

 dense_3 (Dense)                (None, 14)           1806        ['average_1[0][0]']

==================================================================================================
Total params: 566,144
Trainable params: 566,144
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
# LSTM과 CNN은 차원이 다르기 때문에 reshape으로 변환해준다.
h = model.fit([x_train, x_train.reshape(-1, t_step, n_feat, 1)], y_train, epochs=50, batch_size=32, shuffle=True)

Epoch 1/50
8/8 [==============================] - 8s 118ms/step - loss: 4.4215
Epoch 2/50
8/8 [==============================] - 1s 112ms/step - loss: 1.8376
Epoch 3/50
8/8 [==============================] - 1s 116ms/step - loss: 1.2233
Epoch 4/50
8/8 [==============================] - 1s 117ms/step - loss: 0.9242
Epoch 5/50
8/8 [==============================] - 1s 116ms/step - loss: 0.8392
Epoch 6/50
8/8 [==============================] - 1s 113ms/step - loss: 0.8227
Epoch 7/50
8/8 [==============================] - 1s 109ms/step - loss: 0.7893
Epoch 8/50
8/8 [==============================] - 1s 108ms/step - loss: 0.7664
Epoch 9/50
8/8 [==============================] - 1s 118ms/step - loss: 0.7359
Epoch 10/50
8/8 [==============================] - 1s 106ms/step - loss: 0.7112
Epoch 11/50
8/8 [==============================] - 1s 107ms/step - loss: 0.6916
Epoch 12/50
8/8 [==============================] - 1s 115ms/step - loss: 0.6650
Epoch 13/50
8/8 [==============================] - 1s 117ms/step - loss: 0.6428
Epoch 14/50
8/8 [==============================] - 1s 117ms/step - loss: 0.6600
Epoch 15/50
8/8 [==============================] - 1s 114ms/step - loss: 0.6966
Epoch 16/50
8/8 [==============================] - 1s 111ms/step - loss: 0.7357
Epoch 17/50
8/8 [==============================] - 1s 118ms/step - loss: 0.6542
Epoch 18/50
8/8 [==============================] - 1s 118ms/step - loss: 0.6392
Epoch 19/50
8/8 [==============================] - 1s 113ms/step - loss: 0.6359
Epoch 20/50
8/8 [==============================] - 1s 112ms/step - loss: 0.6056
Epoch 21/50
8/8 [==============================] - 1s 122ms/step - loss: 0.5951
Epoch 22/50
8/8 [==============================] - 1s 118ms/step - loss: 0.5516
Epoch 23/50
8/8 [==============================] - 1s 119ms/step - loss: 0.5477
Epoch 24/50
8/8 [==============================] - 1s 114ms/step - loss: 0.5624
Epoch 25/50
8/8 [==============================] - 1s 112ms/step - loss: 0.5537
Epoch 26/50
8/8 [==============================] - 1s 113ms/step - loss: 0.5205
Epoch 27/50
8/8 [==============================] - 1s 125ms/step - loss: 0.5137
Epoch 28/50
8/8 [==============================] - 1s 117ms/step - loss: 0.5073
Epoch 29/50
8/8 [==============================] - 1s 117ms/step - loss: 0.5222
Epoch 30/50
8/8 [==============================] - 1s 115ms/step - loss: 0.5002
Epoch 31/50
8/8 [==============================] - 1s 116ms/step - loss: 0.4830
Epoch 32/50
8/8 [==============================] - 1s 112ms/step - loss: 0.4698
Epoch 33/50
8/8 [==============================] - 1s 191ms/step - loss: 0.4553
Epoch 34/50
8/8 [==============================] - 1s 118ms/step - loss: 0.4335
Epoch 35/50
8/8 [==============================] - 1s 116ms/step - loss: 0.4216
Epoch 36/50
8/8 [==============================] - 1s 107ms/step - loss: 0.4246
Epoch 37/50
8/8 [==============================] - 1s 115ms/step - loss: 0.4161
Epoch 38/50
8/8 [==============================] - 1s 114ms/step - loss: 0.4107
Epoch 39/50
8/8 [==============================] - 1s 121ms/step - loss: 0.4094
Epoch 40/50
8/8 [==============================] - 1s 112ms/step - loss: 0.4181
Epoch 41/50
8/8 [==============================] - 1s 116ms/step - loss: 0.4194
Epoch 42/50
8/8 [==============================] - 1s 121ms/step - loss: 0.4111
Epoch 43/50
8/8 [==============================] - 1s 114ms/step - loss: 0.3888
Epoch 44/50
8/8 [==============================] - 1s 114ms/step - loss: 0.4028
Epoch 45/50
8/8 [==============================] - 1s 117ms/step - loss: 0.3792
Epoch 46/50
8/8 [==============================] - 1s 110ms/step - loss: 0.3562
Epoch 47/50
8/8 [==============================] - 1s 113ms/step - loss: 0.3560
Epoch 48/50
8/8 [==============================] - 1s 117ms/step - loss: 0.3481
Epoch 49/50
8/8 [==============================] - 1s 122ms/step - loss: 0.3547
Epoch 50/50
8/8 [==============================] - 1s 161ms/step - loss: 0.3605

In [ ]:
# 내일의 수익률과 주가를 예측한다.
px_lstm = np.array(df.tail(20)).reshape(1, t_step, n_feat)
px_cnn = px_lstm.reshape(1, t_step, n_feat, 1)
y_pred = model.predict([px_lstm, px_cnn])[0][0]
y_rtn = y_pred * rtn_std + rtn_mean

if y_rtn > 0:
    print("내일은 {:.2f}% 상승할 것으로 예측됩니다.".format(y_rtn * 100))
else:
    print("내일은 {:.2f}% 하락할 것으로 예측됩니다.".format(y_rtn * 100))
print("예상 주가 = {:.0f}".format(last_price * (1 + y_rtn)))

내일은 0.26% 상승할 것으로 예측됩니다.
예상 주가 = 80204