<a href="https://colab.research.google.com/github/hyunicecream/ML-DL/blob/main/%EC%84%A0%ED%98%95%ED%9A%8C%EA%B7%80%EB%B6%84%EC%84%9D_Linear_Regression_(multiple_features).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler

In [ ]:
boston = load_boston()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [ ]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

In [ ]:
# 데이터 프레임 만들기
df = pd.DataFrame(boston.data, columns=[boston.feature_names])
df

        CRIM    ZN  INDUS CHAS    NOX  ...  RAD    TAX PTRATIO       B LSTAT
0    0.00632  18.0   2.31  0.0  0.538  ...  1.0  296.0    15.3  396.90  4.98
1    0.02731   0.0   7.07  0.0  0.469  ...  2.0  242.0    17.8  396.90  9.14
2    0.02729   0.0   7.07  0.0  0.469  ...  2.0  242.0    17.8  392.83  4.03
3    0.03237   0.0   2.18  0.0  0.458  ...  3.0  222.0    18.7  394.63  2.94
4    0.06905   0.0   2.18  0.0  0.458  ...  3.0  222.0    18.7  396.90  5.33
..       ...   ...    ...  ...    ...  ...  ...    ...     ...     ...   ...
501  0.06263   0.0  11.93  0.0  0.573  ...  1.0  273.0    21.0  391.99  9.67
502  0.04527   0.0  11.93  0.0  0.573  ...  1.0  273.0    21.0  396.90  9.08
503  0.06076   0.0  11.93  0.0  0.573  ...  1.0  273.0    21.0  396.90  5.64
504  0.10959   0.0  11.93  0.0  0.573  ...  1.0  273.0    21.0  393.45  6.48
505  0.04741   0.0  11.93  0.0  0.573  ...  1.0  273.0    21.0  396.90  7.88

[506 rows x 13 columns]

In [ ]:
# 표준화 하기
feature_data = StandardScaler().fit_transform(boston['data'])

In [ ]:
# 학습데이터 생성
trainX, testX, trainY, testY = train_test_split(boston['data'], boston['target'], test_size = 0.2)

In [ ]:
# 모델생성
model = LinearRegression()
model.fit(trainX, trainY)

LinearRegression()

In [ ]:
  # testX[n]에 해당하는 target (price)을 추정한다.
n = 1
price = model.predict(testX[n].reshape(1, -1))
print('test[%d]의 추정가격 = %0.2f' % (n, price))
print('test[%d]의 실제가격 = %0.2f' % (n, testY[n]))
print('추정 오류 = rmse(추정 price - 실제 price) = %.2f' %
       np.sqrt(np.square(price - testY[n])))

test[1]의 추정가격 = 21.38
test[1]의 실제가격 = 20.90
추정 오류 = rmse(추정 price - 실제 price) = 0.48

In [ ]:
# 시험 데이터 전체의 오류를 MSE로 표시한다.
# MSE는 값의 범위가 크다는 단점이 있다.
predY = model.predict(testX)
rmse = (np.sqrt(mean_squared_error(testY, predY)))
print('\n시험 데이터 전체 오류 (rmse) = %.4f' % rmse)

시험 데이터 전체 오류 (rmse) = 4.0986

In [ ]:
# 시험 데이터 전체의 오류를 R-square로 표시한다.
# 범위가 한정되어 MSE보다 좋은 척도다.
print('\n시험 데이터 전체 오류 (R2-score) = %.4f' % model.score(testX, testY))

시험 데이터 전체 오류 (R2-score) = 0.6821

In [ ]:
# R-square를 manual로 계산하고, model.score() 결과와 비교한다. # SSE : explained sum of square
# SSR : residual sum of square (not explained)
# SST : total sum of square
# R-square : SSE / SST or 1 - (SSR / SST)
ssr = np.sum(np.square(predY - testY))
sst = np.sum(np.square(testY - testY.mean())) 
R2 = 1 - ssr / sst
print('R-square = %.4f' % R2)

R-square = 0.6821

***SVR : Regression 에 사용되는 SVM 모델**

In [ ]:
from sklearn.svm import SVR

In [ ]:
# SVR로 해보기, Linear_regressison과의 비교해보기 위해서
boston = load_boston()

sclaleX = StandardScaler()
sclaleY = StandardScaler()
feature_data = sclaleX.fit_transform(boston.data)
target_data = sclaleY.fit_transform(boston.target.reshape(-1,1))

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [ ]:
# 학습데이터 생성
x_train, x_test, y_train, y_test = train_test_split(feature_data, target_data, test_size=0.2)

In [ ]:
# 모델생성
linear_svr = SVR(kernel='linear')
linear_svr.fit(x_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:985: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(kernel='linear')

In [ ]:
  # testX[n]에 해당하는 target (price)을 추정한다.
n = 1
price = model.predict(x_test[n].reshape(1, -1))
print('test[%d]의 추정가격 = %0.2f' % (n, price))
print('test[%d]의 실제가격 = %0.2f' % (n, y_test[n]))
print('추정 오류 = rmse(추정 price - 실제 price) = %.2f' %
       np.sqrt(np.square(price - y_test[n])))

test[1]의 추정가격 = 36.96
test[1]의 실제가격 = -0.42
추정 오류 = rmse(추정 price - 실제 price) = 37.38

In [ ]:
# 시험 데이터 전체의 오류를 MSE로 표시한다.
# MSE는 값의 범위가 크다는 단점이 있다.
predY = model.predict(x_test)
rmse = (np.sqrt(mean_squared_error(y_test, predY)))
print('\n시험 데이터 전체 오류 (rmse) = %.4f' % rmse)

시험 데이터 전체 오류 (rmse) = 38.9599

In [ ]:
# 시험 데이터 전체의 오류를 R-square로 표시한다.
# 범위가 한정되어 MSE보다 좋은 척도다.
print('\n시험 데이터 전체 오류 (R2-score) = %.4f' % model.score(x_test, y_test))

시험 데이터 전체 오류 (R2-score) = -1967.4458

In [ ]:
# R-square를 manual로 계산하고, model.score() 결과와 비교한다. # SSE : explained sum of square
# SSR : residual sum of square (not explained)
# SST : total sum of square
# R-square : SSE / SST or 1 - (SSR / SST)
ssr = np.sum(np.square(predY - y_test))
sst = np.sum(np.square(y_test - y_test.mean())) 
R2 = 1 - ssr / sst
print('R-square = %.4f' % R2)

R-square = -203624.0791