<a href="https://colab.research.google.com/github/hyunicecream/ML-DL/blob/main/GBM(for_regression)(Boston_husing).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error

In [ ]:
# 데이터 불러오기
boston = load_boston()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [ ]:
# key값 확인하기
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

 # **Feature 정보**
 ```[01]  CRIM	자치시(town) 별 1인당 범죄율```
  ```[02]  ZN	25,000 평방피트를 초과하는 거주지역의 비율 ```

  ```[03]  INDUS	비소매상업지역이 점유하고 있는 토지의 비율 ```

  ```[04]  CHAS	찰스강에 대한 더미변수(강의 경계에 위치한 경우는 1, 아니면 0) ```

  ```[05]  NOX	10ppm 당 농축 일산화질소 ```

  ```[06]  RM	주택 1가구당 평균 방의 개수 ```

  ```[07]  AGE	1940년 이전에 건축된 소유주택의 비율 ```

  ```[08]  DIS	5개의 보스턴 직업센터까지의 접근성 지수 ```

  ```[09]  RAD	방사형 도로까지의 접근성 지수 ```

  ```[10]  TAX	10,000 달러 당 재산세율 ```

  ```[11]  PTRATIO	자치시(town)별 학생/교사 비율 ```

  ```[12]  B	1000(Bk-0.63)^2, 여기서 Bk는 자치시별 흑인의 비율을 말함. ```

  ```[13]  LSTAT	모집단의 하위계층의 비율(%)```

  ```[14]  MEDV	본인 소유의 주택가격(중앙값) (단위: $1,000)```

In [ ]:
# 데이터프레임으로 만들어서 직관적으로 확인해 보기
df =  pd.DataFrame(boston.data, columns=[boston.feature_names])
df

        CRIM    ZN  INDUS CHAS    NOX  ...  RAD    TAX PTRATIO       B LSTAT
0    0.00632  18.0   2.31  0.0  0.538  ...  1.0  296.0    15.3  396.90  4.98
1    0.02731   0.0   7.07  0.0  0.469  ...  2.0  242.0    17.8  396.90  9.14
2    0.02729   0.0   7.07  0.0  0.469  ...  2.0  242.0    17.8  392.83  4.03
3    0.03237   0.0   2.18  0.0  0.458  ...  3.0  222.0    18.7  394.63  2.94
4    0.06905   0.0   2.18  0.0  0.458  ...  3.0  222.0    18.7  396.90  5.33
..       ...   ...    ...  ...    ...  ...  ...    ...     ...     ...   ...
501  0.06263   0.0  11.93  0.0  0.573  ...  1.0  273.0    21.0  391.99  9.67
502  0.04527   0.0  11.93  0.0  0.573  ...  1.0  273.0    21.0  396.90  9.08
503  0.06076   0.0  11.93  0.0  0.573  ...  1.0  273.0    21.0  396.90  5.64
504  0.10959   0.0  11.93  0.0  0.573  ...  1.0  273.0    21.0  393.45  6.48
505  0.04741   0.0  11.93  0.0  0.573  ...  1.0  273.0    21.0  396.90  7.88

[506 rows x 13 columns]

In [ ]:
# train 데이터 셋과 test 데이터 셋을 구성한다.
trainX, testX, trainY, testY = train_test_split(boston.data, boston.target, test_size=0.2)

In [ ]:
# shape 확인하기
trainX.shape, trainY.shape

((404, 13), (404,))

In [ ]:
# Gradient Boosting (regressor)로 Train 데이터 세트를 학습한다.
# default:
# loss = least square
# learning_rate = 0.1
# n_estimators = 100
# max_depth = 3
# squared_error
model = GradientBoostingRegressor(loss='ls', learning_rate=0.1, n_estimators=100, max_depth=3)
model.fit(trainX, trainY)

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:290: FutureWarning: The loss 'ls' was deprecated in v1.0 and will be removed in version 1.2. Use 'squared_error' which is equivalent.
  FutureWarning,

GradientBoostingRegressor(loss='ls')

In [ ]:
# testX[n]에 해당하는 target (price)를 추정한다.
n = 1
df = pd.DataFrame([testX[n]])
df.columns = boston['feature_names']
print(df)

     CRIM   ZN  INDUS  CHAS    NOX  ...  RAD    TAX  PTRATIO      B  LSTAT
0  0.1676  0.0   7.38   0.0  0.493  ...  5.0  287.0     19.6  396.9    7.2

[1 rows x 13 columns]

In [ ]:
# 시험 데이터 전체의 오류를 MSE로 표시한다.
# MSE는 값의 범위가 크다는 단점이 있다.
price = model.predict(testX[n].reshape(1,-1))
print('\n추정 price = %.2f' % (price))
print('실제 price = %.2f' % (testY[n]))
print('추정 오류 = rmse(추정 price - 실제 price) = %.2f' % np.sqrt(np.square(price - testY[n]))) # RMSE값은 작을수록 정밀도가 높다

# 시험 데이터 전체의 오류를 R-square로 표시한다.
# R-score가 1에 가까울 수록 상관관계
# R-score가 0에 가까울 수록 상관관계 X
print('시험 데이터 전체 오류 (R2-score) = %.4f' % model.score(testX, testY))

추정 price = 23.71
실제 price = 23.80
추정 오류 = rmse(추정 price - 실제 price) = 0.09
시험 데이터 전체 오류 (R2-score) = 0.9271