<a href="https://colab.research.google.com/github/hyunicecream/ML-DL/blob/main/GBM(for_regression)(Bosto_house_kaggle).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [ ]:
df = pd.read_csv('house.csv')
df.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [ ]:
df.dtypes.value_counts()

object     43
int64      35
float64     3
dtype: int64

In [ ]:
# Null 값 확인하기
df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

In [ ]:
# null > 0 으로 정렬하기, 내림차순으로
null = df.isnull().sum()
null[null > 0].sort_values(ascending = False)

PoolQC          1453
MiscFeature     1406
Alley           1369
Fence           1179
FireplaceQu      690
LotFrontage      259
GarageYrBlt       81
GarageType        81
GarageFinish      81
GarageQual        81
GarageCond        81
BsmtFinType2      38
BsmtExposure      38
BsmtFinType1      37
BsmtCond          37
BsmtQual          37
MasVnrArea         8
MasVnrType         8
Electrical         1
dtype: int64

In [ ]:
# 불필요한 컬럼과 Null 값이 많은 컬럼을 삭제한다.
df.drop(['Id', 'PoolQC', 'MiscFeature', 'Alley', 'Fence', 'FireplaceQu', 'LotFrontage'
        ,'GarageYrBlt', 'GarageType', 'GarageFinish', 'GarageQual', 'GarageCond'
        ,'BsmtFinType2', 'BsmtExposure', 'BsmtFinType1', 'BsmtCond', 'BsmtQual'
        ,'MasVnrArea', 'MasVnrType', 'Electrical'], axis=1, inplace=True)

In [ ]:
df.isnull().sum()

MSSubClass       0
MSZoning         0
LotArea          0
Street           0
LotShape         0
                ..
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
SalePrice        0
Length: 61, dtype: int64

In [ ]:
# 숫자형이 아니면 categorical로 변환하고, 숫자형은 결측치를 평균으로 대체한다.
enc = {}
for feat in df.columns:
    # categorical로 변환한다. 역변환이 가능하도록 LabelEncoder를 딕셔너리에 보관해 둔다.
    if df[feat].dtype == object:
        enc[feat] = LabelEncoder()
        df[feat] = enc[feat].fit_transform(df[feat].astype(str))
    
    # 결측치를 평균으로 대체한다.
    # elif df[feat].dtype == 'int64' or df[feat].dtype == 'float64':
    else:
        df[feat].fillna(df[feat].mean(), inplace = True)
df.head()

   MSSubClass  MSZoning  LotArea  ...  SaleType  SaleCondition  SalePrice
0          60         3     8450  ...         8              4     208500
1          20         3     9600  ...         8              4     181500
2          60         3    11250  ...         8              4     223500
3          70         3     9550  ...         8              0     140000
4          60         3    14260  ...         8              4     250000

[5 rows x 61 columns]

In [ ]:
# 학습시키기위해 target과 features를 정해준다.
target = df['SalePrice']
features = df.drop('SalePrice', axis=1)

In [ ]:
# 학습데이터를 구성한다.
trainX, testX, trainY, testY = train_test_split(features, target, test_size = 0.2)

In [ ]:
# Gradient Boosting (regressor)로 Train 데이터 세트를 학습한다.
# default:
# loss = least square
# learning_rate = 0.01
# n_estimators = 500
# max_depth = 5
# 버전때문에 ls 대신에 squared_error 사용
model = GradientBoostingRegressor(loss='squared_error', learning_rate=0.01, n_estimators=500, max_depth=5)
model.fit(trainX, trainY)

GradientBoostingRegressor(learning_rate=0.01, max_depth=5, n_estimators=500)

In [ ]:
# testX[n]에 해당하는 target (price)을 추정한다.
# 시험 데이터 전체의 오류를 MSE로 표시한다.
# MSE는 값의 범위가 크다는 단점이 있다.
# RMSE값은 작을수록 정밀도가 높다
n = 0
price = model.predict(np.array(testX.iloc[n]).reshape(1, -1))
print('\n추정 price = %.2f' % (price))
print('실제 price = %.2f' % (testY.iloc[n]))
print('추정 오류 = rmse(추정 price - 실제 price) = %.2f' % np.sqrt(np.square(price - testY.iloc[n])))

추정 price = 136195.80
실제 price = 141000.00
추정 오류 = rmse(추정 price - 실제 price) = 4804.20

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but GradientBoostingRegressor was fitted with feature names
  "X does not have valid feature names, but"

In [ ]:
# 테스트 데이터 전체의 R-sequare
# R-score가 1에 가까울 수록 상관관계
# R-score가 0에 가까울 수록 상관관계 X
print('R-square = %.4f' % model.score(testX, testY))

R-square = 0.8987